<% include layout.ejs %>
<!--================Header Menu Area =================-->

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
		<div class="container">
			<div class="banner_content text-center">
				<h2>Admin</h2>
				<div class="page_link">
					<a href="/">Home</a>
					<a href="/manage">Admin</a>
				</div>
			</div>
		</div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================ Profile showcase Area =================-->
<div class="product_image_area">
	<div class="container">
		<div class="row s_product_inner">
			<div class="col-lg-6">
				<div class="s_product_img">
					<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner">
							<div class="carousel-item active">
								<img class="d-block w-100" src="/img/product/single-product/s-product-1.jpg" alt="First slide">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 offset-lg-1">
				<div class="s_product_text">
					<h3>Dr. Dac</h3>
					<ul class="list">
						<li><a class="active" href="#"><span>Email</span> : ganiu2000@gmail.com</a></li>
						<li><a href="#"><span>Phone No</span> : +2348185502574</a></li>
					</ul>
					<p>Mill Oil is an innovative oil filled radiator with the most modern technology. If you are looking for something that can make your interior look awesome, and at the same time give you the pleasant warm feeling during the winter.</p>
					
					<!-- <div class="card_area">
						<a class="main_btn" href="#">Change Picture</a>
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
						<a class="icon_btn" href="#"><i class="lnr lnr lnr-heart"></i></a>
					</div> -->
				</div>
			</div>
		</div>
	</div>
</div>
<!--================ Profile showcase Area =================-->

<!--================ Edit Profile Area =================-->
<section class="product_description_area">
	<div class="container">
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			
			<li class="nav-item">
			<a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Edit Profile</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Change Password</a>
			</li>
			<li class="nav-item">
			<a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review" aria-selected="false">Admin Posts</a>
			</li>
			<li class="nav-item">
			<a class="nav-link" id="follower-tab" data-toggle="tab" href="#follower" role="tab" aria-controls="follower" aria-selected="false">Users</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			
			<div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
				<div class="review_box">
					<h4>Edit Profile</h4>
					<form class="row contact_form" action="contact_process.php" method="post" id="contactForm1" novalidate="novalidate">
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="name4" name="firstname" placeholder="First Name">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="name5" name="lastname" placeholder="Last Name">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="email" class="form-control" id="email" name="email" placeholder="Email Address">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="text" class="form-control" id="number" name="number" placeholder="Phone Number">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<input type="file" class="form-control" id="number1" name="profilePics">
							</div>
						</div>
						<div class="col-md-12">
							<div class="form-group">
								<textarea class="form-control" name="message" id="description" rows="1" placeholder="Descripe Yourself"></textarea>
							</div>
						</div>
						<div class="col-md-12 text-right">
							<button type="submit" value="submit" class="btn submit_btn">Update</button>
						</div>
					</form>
				</div>
			</div>
			<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
				<h4>Change Password</h4>
				<form class="row contact_form" action="contact_process.php" method="post" id="contactForm2" novalidate="novalidate">
					<div class="col-md-12">
						<div class="form-group">
							<input type="password" class="form-control" id="name" name="currentPassword" placeholder="Current Password">
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group">
							<input type="password" class="form-control" id="name1" name="newPassword" placeholder="New Password">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" id="name2" name="newPassword2" placeholder="Confirm Password">
						</div>
						
					</div>
					<div class="col-md-12 text-right">
						<button type="submit" value="submit" class="btn submit_btn">Change</button>
					</div>
				</form>
			</div>
			
			<div class="tab-pane fade" id="follower" role="tabpanel" aria-labelledby="follower-tab">
				<div class="row">
					<div class="col-lg-6">
						<div class="comment_list">
							<h3>Users and their posts</h3>
							<br>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="/img/product/single-product/review-1.png" alt="">
									</div>
									<div class="media-body">
										<h4>Seyi Lasisi</h4>
										<h5>Join Date: 11th July, 2018 at 09:06 am</h5>
										<h5>14 Posts</h5>
										<!-- <span class="reply_btn">Follow</span> -->
										<h5 class="reply_btn" onclick="viewComment2('99232')" id="99232">↡</h5>

									</div>
								</div>
							</div>
							<br>
							<!-- Users posts -->
							<div class="review_item reply" id="99232reply">
								<h3>Posts</h3>

								<!-- User post 1 -->
								<div class="media">
									<div class="d-flex">
										<img src="/img/product/single-product/review-2.png" alt="">
									</div>
									<div class="media-body">
										<a href="#"><h4>Success is near</h4></a>
										<h5>Quote (success)</h5>
										<h5>42 Comment, 7023 Likes, 15 Dislikes</h5>
										<div class="card_area">
											<a class="icon_btn" href="#"><i class="lnr lnr lnr-diamond"></i></a>
											<a class="icon_btn" href="#ht"><i class="lnr lnr lnr-heart"></i></a>
										</div>
										<a href="#" class="reply_btn">More</a>
									</div>
								</div>
								<br>
								<!-- User post 2 -->
								<div class="media">
									<div class="d-flex">
										<img src="/img/product/single-product/review-2.png" alt="">
									</div>
									<div class="media-body">
										<a href="#"><h4>Crazy owner</h4></a>
										<h5>Jokes</h5>
										<h5>20 Comment, 1023 Likes, 12 Dislikes</h5>
										<a href="#" class="reply_btn">More</a>
									</div>
								</div>
							</div>
							<br>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="/img/product/single-product/review-3.png" alt="">
									</div>
									<div class="media-body">
										<h4>Alan Turing</h4>
										<h5>Join Date:</h5>
										<h5>11th July, 2018 at 09:06 am</h5>
										<!-- <span class="reply_btn">Follow</span> -->
										<h5 class="reply_btn">14 Posts</h5>
									</div>
								</div>
								<!-- Users posts -->
							</div>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="comment_list">
							<!-- Second column -->
							<br>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="/img/product/single-product/review-1.png" alt="">
									</div>
									<div class="media-body">
										<h4>Seyi Lasisi</h4>
										<h5>Join Date:</h5>
										<h5>11th July, 2018 at 09:06 am</h5>
										<!-- <span class="reply_btn">Follow</span> -->
										<h5 class="reply_btn">14 Posts</h5>
									</div>
								</div>
								<!-- Users posts -->
							</div>
							<br>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="/img/product/single-product/review-3.png" alt="">
									</div>
									<div class="media-body">
										<h4>Alan Turing</h4>
										<h5>Join Date:</h5>
										<h5>11th July, 2018 at 09:06 am</h5>
										<!-- <span class="reply_btn">Follow</span> -->
										<h5 class="reply_btn">14 Posts</h5>
									</div>
								</div>
								<!-- Users posts -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
				<h3>Your Posts</h3>
				<div class="row">
					<div class="col-lg-6">
						<div class="comment_list">
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="/img/product/single-product/review-1.png" alt="">
									</div>
									<div class="media-body">
										<h4>Quote (Success)</h4>
										<h5>11th Jan, 2019 at 05:26 am</h5>
										<span class="reply_btn" onclick="editPost('123')" id="123executor">Edit Post</span>
									</div>
								</div>
								<p id="123text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>

								<div id="123edit" class="reply">
									<br>
									<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
										<div class="col-md-12">
											<div class="form-group">
												<textarea class="form-control" name="body" id="message" rows="1" placeholder="Write your post">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</textarea>
											</div>
										</div>
										<div class="col-md-12 text-right">
											<button type="submit" value="submit" class="btn submit_btn">Edit</button>
										</div>
									</form>
								</div>
							</div>
							<span onclick="viewComment('90232')" id="90232" class="viewCommentbut">View comments</span>
							<br><br>
							<div class="review_item reply" id="90232reply">
								<h3>Comments</h3>
								<div class="media">
									<div class="d-flex">
										<img src="/img/product/single-product/review-2.png" alt="">
									</div>
									<div class="media-body">
										<a href="#"><h4>Bolaji Taiwo</h4></a>
										<h5>12th Feb, 2017 at 05:56 pm</h5>
										<!-- <span class="reply_btn">Follow</span> -->
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
							</div>
							<div class="review_item">
								<div class="media">
									<div class="d-flex">
										<img src="/img/product/single-product/review-3.png" alt="">
									</div>
									<div class="media-body">
									
										<div class="media-body">
										<h4>Adekunle Gold</h4>
										<h5>02th Mar, 2011 at 04:56 pm</h5>
									</div>
									</div>
								</div>
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo</p>
							</div>
						</div>
					</div>
					
					<!-- Add post area -->
					<div class="col-lg-6">
						<div class="review_box">
							<h4>Add a Post</h4>
							<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" id="name3" name="title" placeholder="Title">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<select class="form-control" id="text" name="type">

											<option value="joke">Joke</option>
											<option value="quote">Quote</option>
											<option value="motivation">Motivation</option>
											<option value="puzzle">Puzzle</option>
											<option value="fact">Fact</option>

										</select>
									</div>
								</div>
								<div class="col-md-12" style="margin-top: 10px;">
									<div class="form-group">
										<input type="text" class="form-control" id="number2" name="category" placeholder="Category (Educational)">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" name="body" id="message" rows="1" placeholder="Write your post"></textarea>
									</div>
								</div>
								<div class="col-md-12 text-right">
									<button type="submit" value="submit" class="btn submit_btn">Add post</button>
								</div>
							</form>
						</div>
					
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Product Description Area =================-->

<!--================ start footer Area  =================-->	
<% include footer.ejs %>
<!--================ End footer Area  =================-->

<!-- 
<div class="col-lg-6">
<div class="review_box">
							<h4>Add a Post</h4>
							<form class="row contact_form" action="contact_process.php" method="post" id="contactForm" novalidate="novalidate">
								<div class="col-md-12">
									<div class="form-group">
										<input type="text" class="form-control" id="name3" name="title" placeholder="Title">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<select class="form-control" id="text" name="type">

											<option value="joke">Joke</option>
											<option value="quote">Quote</option>
											<option value="motivation">Motivation</option>
											<option value="puzzle">Puzzle</option>
											<option value="fact">Fact</option>

										</select>
									</div>
								</div>
								<div class="col-md-12" style="margin-top: 10px;">
									<div class="form-group">
										<input type="text" class="form-control" id="number2" name="category" placeholder="Category (Educational)">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea class="form-control" name="body" id="message" rows="1" placeholder="Write your post"></textarea>
									</div>
								</div>
								<div class="col-md-12 text-right">
									<button type="submit" value="submit" class="btn submit_btn">Add post</button>
								</div>
							</form>
						</div>
					</div>
 -->

<!-- Dac javascript -->
<script type="text/javascript" src="/js/dac.js"></script>

